/olioviikko2teht/build/
/olioviikko2teht/*.user

/olioviikko3/build/
/olioviikko3/*.user

/olioviikko4pankkitilit/build/
/olioviikko4pankkitilit/*.user

/olioviikko5notif/build/
/olioviikko5notif/*.user

/olioviikko6/build/
/olioviikko6/*.user

/olioviikko7teht1/build/
/olioviikko7teht1/*.user

/olioviikko7teht2/build/
/olioviikko7teht2/*.user